@import "../../assets/styles/commonStyles.scss";

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #111111;
    overflow: auto;
}

.signup-card {
    width: 35%;
    min-height: 85vh;
    border-radius: 1.5rem;
    background: #1e1e1e;
    border: 0.1px solid rgb(128, 128, 128, 0.2);
    box-sizing: border-box;
    padding: 3rem;

    .logo-text {
        color: transparent;
        background: linear-gradient(45deg, #f8aac0, #a6aaf8);
        background-clip: text;
        font-weight: 900;
        font-style: italic;
    }

    input {
        border: 0.1px solid rgb(128, 128, 128, 0.2);
        &:focus {
            box-shadow: none;
        }

        &:focus + label {
            //later
        }
    }
}

.btn-success {
    // background-color: #83a4ff;
    background: linear-gradient(45deg, #f8aac0, #a6aaf8);
    font-weight: 700;
    transition: 0.3s all ease-in-out;
    padding: 16px 12px;
    border: none;

    &:hover {
        // background-color: #1d791dde !important;
    }
}

.eye-img {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.signin-btn {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
