// Common styles and variables for the application

// <-- Icons --> 
$right-arrow: url("../icons/right-arrow.svg");
$right-arrow-white: url("../icons/right-arrow-white.svg");
// <-- Icons --> 

// <-- Colors -->
$primary-color: #1d791d;
// <-- Colors -->