.home-container {
    background-color: var(--primary-background);
    height: 100vh;
    overflow: auto;
    color: var(--primary-text-color);
    position: relative;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    z-index: 999;
}

.loader {
    width: 120px;
}

.hash {
    stroke-dasharray: 60 31 60 103 60 43 60 600;
    stroke-dashoffset: 430;
    animation: draw 2.5s ease-in-out infinite;

    stroke: #a6aaf8;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 430;
    }
    45% {
        stroke-dashoffset: 0;
    } /* fully drawn */
    60% {
        stroke-dashoffset: 0;
    } /* holds here — this is your delay */
    100% {
        stroke-dashoffset: 430;
    }
}

.top-bar {
    height: 14vh;
    background-color: transparent;
}

.top-bar-inner {
    width: 65%;
    height: 10vh;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(128, 128, 128, 0.2);
    padding: 1rem;
    position: fixed;
}

h3 {
    color: transparent;
    background: linear-gradient(45deg, #f8aac0, #a6aaf8);
    background-clip: text;
    font-weight: 900;
    font-style: italic;
}

.nav-container {
    border: 1px solid rgb(128, 128, 128, 0.2);
    background: #111111;
    position: relative;
    border-radius: 999px;
    padding: 4px;
    gap: 0;
}

.create-work-container {
    border: none;
    background: linear-gradient(45deg, #f8aac0, #a6aaf8);
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 999px;
    width: 40px;
    height: 40px;
}

#bubble {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
}

.profile-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.015);
    backdrop-filter: blur(6px);
    user-select: none;
}

.main-content {
    min-height: calc(100vh - 14vh);
}

.content-container {
    padding-bottom: 2vh;
    min-height: calc(100vh - 14vh);
}

.profile-dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    right: 20px;
    border-radius: 8px;
    background: #111111;
    backdrop-filter: blur(12px);
    border: 1px solid rgb(128, 128, 128, 0.2);
    display: none;
    // display: flex;
    flex-direction: column;
    min-width: 150px;

    &.open {
        display: flex;
    }

    .dropdown-item {
        // font-size: 14px;
        &:hover {
            background: rgba(255, 255, 255, 0.05);
            color: rgb(255, 255, 255, 1);
            color: #a6aaf8;
        }

        color: #ffffffe6;
        background: transparent;
        border: none;
        padding: 10px 20px;
        text-align: left;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid rgb(128, 128, 128, 0.2);
        user-select: none;

        &:first-child {
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        &:last-child {
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            border-bottom: none;
        }
    }
}
